{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <title>Demo</title>
    </head>
    <body>
        <div>
            <h3 id="username-label" for="username">Enter username:</h3>
            <input id="username" type="text" />
            <button id="join-button">Join chat</button>
        </div>

        <div class="main-grid-container">
            <div id="video-container">
                <div>
                    <video id="local-video" src="" autoplay playsinline></video>
                </div>
                <button id="button-toggle-audio">Mute audio</button>
                <button id="button-toggle-video">Off video</button>
            </div>
            <div id="chat-container">
                <h3>Chat</h3>
                <div>
                    <ul id="message-list"></ul>
                </div>
                <div>
                    <input id="message-input" type="text" />
                    <button id="button-send-message">Send message</button>
                </div>
            </div>
        </div>
        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>
