{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Demo</title>
  </head>
  <body>
    <div class="main-grid-container">
      <div id="video-container">
        <div class="username_block">
          <h3 id="username-label" for="username">Enter username:</h3>
          <input id="username" type="text" placeholder="Username" />
          <button id="join-button">Join chat</button>
        </div>
        <div class="local-video_block">
          <div class="local-video_videos"></div>
          <div class="local-video_buttons">
            <button id="button-toggle-audio">
              <img src="{% static 'img/mic.svg' %}" alt="mic" />
            </button>
            <button id="button-toggle-video">
              <img src="{% static 'img/webcam.svg' %}" alt="cam" />
            </button>
          </div>
        </div>
        <video id="local-video" src="" autoplay playsinline></video>
      </div>
      <div id="chat-container">
        <h3 class="chat-title">Chat</h3>

        <div class="message-block">
          <input
            id="message-input"
            type="text"
            placeholder="Write a message..."
          />
          <button id="button-send-message">
            <img src="{% static 'img/chat.svg' %}" alt="chat" />
          </button>
        </div>
        <div>
          <ul id="message-list"></ul>
        </div>
      </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
