body {
  background: #fbfbfb;
}

.main-grid-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

#video-container {
  display: block;
  width: 60%;
  background: #f2f2f5;
  border-radius: 8px;
  padding: 30px;
  margin-right: 5px;
}

#chat-container {
  background: #f2f2f5;
  padding: 15px;
  border-radius: 8px;
  width: 20%;
}

h3.chat-title {
  font-family: Manrope, sans-serif;
  margin: 0;
  padding: 0;
}

video {
  z-index: 999 !important;
}

input#message-input {
  width: 80%;
  height: 15px;
  border-radius: 8px;
  border: #ccd4f4 1px solid;
  padding: 10px 15px;
  background: white;
  color: black;
  font-size: 16px;
  font-family: Manrope, sans-serif;
  margin-right: 1px;
}

input#message-input:focus {
  outline: 1px #3d65e2 solid;
}

ul#message-list {
  font-family: Manrope, sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.message-block {
  display: flex;
  justify-content: center;
  margin: 10px auto 0 auto;
}

button#button-send-message {
  width: 37px;
  height: 37px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: right;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3#username-label {
  display: none;
}

video#local-video {
  width: 240px;
  height: 100px;
}

.local-video_videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.username_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.local-video_block {
  display: block;
  text-align: center;
}

.local-video_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button#button-toggle-audio {
  border: none;
  cursor: pointer;
  appearance: none;
  background: #ccd4f4;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin: 10px 5px;
}

button#button-toggle-video {
  border: none;
  cursor: pointer;
  appearance: none;
  background: #ccd4f4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px 5px;
}

.local-video {
  width: 350px;
  height: auto;
}

input#username {
  width: 320px;
  height: 30px;
  border-radius: 8px;
  border: #ccd4f4 1px solid;
  margin: 10px auto 0 auto;
  padding: 10px 15px;
  background: white;
  color: black;
  font-size: 16px;
  font-family: Manrope, sans-serif;
}

input#username:focus {
  outline: 1px #3d66e2 solid;
}

button#join-button {
  height: 50px;
  width: 350px;
  border-radius: 8px;
  background: #3d65e2;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 10px auto;
  font-size: 16px;
  font-family: Manrope, sans-serif;
}

button {
  outline: none;
}
